@font-face {
  font-family: "stardewValleyItem";
  src: url("fonts/stardew-item-font.otf");
}
@font-face {
  font-family: "stardewValley";
  src: url("fonts/svbold.otf");
}
@font-face {
  font-family: "commodore";
  src: url("fonts/Commodore Pixelized v1.2.ttf");
}
@font-face {
  font-family: "stardewValleyMono";
  src: url("fonts/stardew-item-font-mono.otf");
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: url("../images/game_screen_day.png"), url("../images/game_screen_night.png");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

i {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px;
}

h1 {
  color: #581306;
  font-family: "stardewValley", sans-serif;
}

h2 {
  color: #581306;
  font-family: "stardewValley", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 100 !important;
}

/* End of Reset */
body {
  background-color: #f8f8f8;
  color: #121213;
  font-family: "stardewValleyItem", sans-serif;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px 3vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  margin-bottom: 100px;
}
.app h1 {
  font-size: 35px;
}
.app h2 {
  text-decoration: underline;
  font-size: 26px;
  margin-bottom: 3px;
}
.app h3 {
  font-size: 22px;
}
.app p {
  font-size: 20px;
}
.app img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.app .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
}
.app .wrapper .titleBox {
  text-align: center;
  margin-left: 15px;
  overflow: visible;
  flex: 1;
  padding: 30px 13px;
  width: 100%;
  background: linear-gradient(180deg, rgb(255, 203, 123) 0%, rgb(235, 168, 103) 100%);
  box-shadow: #d68f54 -3px 0px, #c47a48 0px -3px, #c47a48 -3px -3px, #d68f54 0px 3px, #c47a48 -3px 3px, #c47a48 6px -3px, #c47a48 6px 3px, #853605 -6px -6px, #853605 9px -6px, #853605 9px 6px, #853605 -6px 6px, #b14e05 6px -9px, #dc7b05 9px -9px, #b14e05 12px -3px, #dc7b05 12px -6px, #b14e05 12px -9px, #b14e05 12px 6px, #fa9305 0px 9px, #fa9305 3px 9px, #dc7b05 6px 9px, #b14e05 9px 9px, #853605 12px 9px, #dc7b05 -3px 9px, #b14e05 -6px 9px, #dc7b05 -9px 3px, #dc7b05 -9px -3px, #b14e05 -9px -6px, #b14e05 -6px -9px, #853605 -9px -9px, #b14e05 -9px 6px, #853605 -9px 9px, #fa9305 9px -12px, #dc7b05 12px -12px, #dc7b05 15px -9px, #dc7b05 15px 3px, #853605 15px -12px, #b14e05 15px 9px, #b14e05 12px 12px, #b14e05 -9px 12px, #853605 15px 12px, #b14e05 -12px 9px, #b14e05 -12px -9px, #853605 -12px 12px, #fa9305 3px -12px, #dc7b05 -3px -12px, #b14e05 -9px -12px, #853605 -12px -12px, #5b2b2a -9px -15px, #5b2b2a 12px -15px, #5b2b2a 18px -9px, #5b2b2a 18px 9px, #5b2b2a 12px 15px, #5b2b2a -9px 15px, #5b2b2a -15px 9px, #5b2b2a -15px -9px;
}
.app .wrapper .titleBox h1 {
  text-decoration: underline;
  margin-bottom: 5px;
}
.app .wrapper .titleBox ul {
  list-style-type: none;
}
.app .wrapper .titleBox h1 {
  margin: 0;
}
.app .wrapper .main {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  max-height: 100vh;
  padding: 0px 0px;
  gap: 70px;
  padding-bottom: 200px;
}
.app .wrapper .main ::-webkit-scrollbar {
  display: none;
}
.app .wrapper .main .container {
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
  min-height: 500px;
  padding: 10px;
  padding-right: 0px;
}
.app .wrapper .main .container h2 {
  margin-bottom: 5px;
}
.app .wrapper .main .container ::-webkit-scrollbar {
  display: block;
}
.app .wrapper .main .container details {
  margin-bottom: 0px;
}
.app .wrapper .main .container details summary {
  width: 100%;
  font-size: 25px;
  cursor: pointer;
}
.app .wrapper .main .container details summary h3 {
  display: inline-block;
}
.app .wrapper .main .container details[open] {
  margin-bottom: 19px;
}
.app .wrapper .main .container ul {
  margin: 0px;
  padding: 0px;
}
.app .wrapper .main .menu {
  position: relative;
  margin-top: 70px;
  background: linear-gradient(180deg, rgb(255, 203, 123) 0%, rgb(235, 168, 103) 100%);
  box-shadow: #d68f54 -3px 0px, #c47a48 0px -3px, #c47a48 -3px -3px, #d68f54 0px 3px, #c47a48 -3px 3px, #c47a48 6px -3px, #c47a48 6px 3px, #853605 -6px -6px, #853605 9px -6px, #853605 9px 6px, #853605 -6px 6px, #b14e05 6px -9px, #dc7b05 9px -9px, #b14e05 12px -3px, #dc7b05 12px -6px, #b14e05 12px -9px, #b14e05 12px 6px, #fa9305 0px 9px, #fa9305 3px 9px, #dc7b05 6px 9px, #b14e05 9px 9px, #853605 12px 9px, #dc7b05 -3px 9px, #b14e05 -6px 9px, #dc7b05 -9px 3px, #dc7b05 -9px -3px, #b14e05 -9px -6px, #b14e05 -6px -9px, #853605 -9px -9px, #b14e05 -9px 6px, #853605 -9px 9px, #fa9305 9px -12px, #dc7b05 12px -12px, #dc7b05 15px -9px, #dc7b05 15px 3px, #853605 15px -12px, #b14e05 15px 9px, #b14e05 12px 12px, #b14e05 -9px 12px, #853605 15px 12px, #b14e05 -12px 9px, #b14e05 -12px -9px, #853605 -12px 12px, #fa9305 3px -12px, #dc7b05 -3px -12px, #b14e05 -9px -12px, #853605 -12px -12px, #5b2b2a -9px -15px, #5b2b2a 12px -15px, #5b2b2a 18px -9px, #5b2b2a 18px 9px, #5b2b2a 12px 15px, #5b2b2a -9px 15px, #5b2b2a -15px 9px, #5b2b2a -15px -9px;
}
.app .wrapper .main .menu h1 {
  text-decoration: underline;
  margin-bottom: 5px;
}
.app .wrapper .main .menu ul {
  list-style-type: none;
}
.app .wrapper .main .menu .tab-menu {
  padding-top: 30px;
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: -79px;
  width: 100%;
}
.app .wrapper .main .menu .tab-menu .tabElement.right {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}
.app .wrapper .main .menu .tab-menu .tabElement:has(.tab:hover) .tabTooltip .tooltiptext {
  visibility: visible;
}
.app .wrapper .main .menu .tab-menu .tabElement {
  width: 64px;
  height: 64px;
  position: relative;
  display: flex;
}
.app .wrapper .main .menu .tab-menu .tabElement .tab {
  position: relative;
  cursor: pointer;
  image-rendering: pixelated;
  width: 64px;
  height: 64px;
  background-image: none, url("../images/ui/ui_tab.png");
  background-size: 45%, cover;
  background-position: 50% 70%, center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.app .wrapper .main .menu .tab-menu .tabElement .tab p,
.app .wrapper .main .menu .tab-menu .tabElement .tab span {
  font-size: 22px;
  position: relative;
  top: 8px;
  margin: 0 0 0 0;
  padding: 0;
}
.app .wrapper .main .menu .tab-menu .tabElement .tab .tab--icon {
  width: 100%;
  height: 100%;
  background-image: url("../images/icons/taskIcon.png");
  background-size: 40%;
  background-position: center 75%;
  background-repeat: no-repeat;
  background-position: center calc(50% + 7px);
}
.app .wrapper .main .menu .tab-menu .tabElement .tab .tab--icon--task {
  background-image: url("../images/icons/taskIcon.png");
  background-position: center 75%;
  background-size: 50%;
}
.app .wrapper .main .menu .tab-menu .tabElement .tab .tab--icon--settings {
  background-image: url("../images/icons/settingsIcon.svg");
  image-rendering: pixelated;
}
.app .wrapper .main .menu .tab-menu .tabElement .tab .tab--icon--category {
  background-image: url("../images/icons/categoryIcon.png");
  image-rendering: pixelated;
}
.app .wrapper .main .menu .tab-menu .tabElement .tab .tab--icon--edit {
  background-image: url("../images/icons/editIcon.png");
  image-rendering: pixelated;
}
.app .wrapper .main .menu .tab-menu .tabElement .tab .tab--icon--add {
  background-image: url("../images/icons/plusIcon.png");
  image-rendering: pixelated;
}
.app .wrapper .main .menu .tab-menu .tabElement .tab--active {
  top: 6px;
}
.app .wrapper .main .menu .tab-menu .tabElement .tabTooltip {
  position: absolute;
  top: -25px;
  text-align: center;
  visibility: visible;
  text-wrap: nowrap;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  max-width: 64px;
}
.app .wrapper .main .create-task {
  height: 100%;
  overflow: scroll scroll;
  padding-right: 8px;
  padding: 10px 13px;
  flex: 0.6;
}
.app .wrapper .main .create-task #editNoTaskSelected {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: rgba(0, 0, 0, 0.486);
}
.app .wrapper .main .create-task table tr {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
}
.app .wrapper .main .create-task table tr td {
  padding: 1px;
  display: flex;
  justify-content: left;
  width: 100%;
}
.app .wrapper .main .create-task table tr td input,
.app .wrapper .main .create-task table tr td textarea {
  width: 100%;
  resize: vertical;
}
.app .wrapper .main .create-task table tr td textarea {
  max-height: 175px;
}
.app .wrapper .main .starRating.selectable i {
  cursor: pointer;
}
.app .wrapper .main .starRating {
  display: flex;
  flex-grow: 0;
  gap: 4px;
  align-items: center;
  justify-content: left;
  display: inline-block;
  text-wrap: nowrap;
  cursor: default;
}
.app .wrapper .main .starRating .starEmpty {
  background-image: url("../images/star_empty.png");
}
.app .wrapper .main .starRating .starFull {
  background-image: url("../images/star_full.png");
}
.app .wrapper .main .starRating i {
  width: 24px;
  height: 24px;
  position: relative;
  background-image: url("../images/star_empty.png");
}
.app .wrapper .main .starRating i input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: red !important;
  border-radius: 0;
}
.app .wrapper .main .starRating i input[type=radio]:checked + i {
  background-color: red;
}
.app .wrapper .main .starRating i:has(> input[type=radio]:checked) {
  background-image: url("../images/star_full.png");
}

@media (max-width: 750px) {
  .app .wrapper {
    padding: 0 50px;
  }
  .app .wrapper .titleBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(100% - 200px);
    text-align: left;
    margin: 0;
    padding: 24px 20px;
    height: 125px;
  }
  .app .wrapper .main {
    flex-direction: column;
    align-items: stretch;
  }
}
.clock {
  position: fixed;
  top: 0px;
  right: -8px;
  z-index: 101;
  transform: scale(0.9);
  background-image: url("../images/ui/clock_main.png");
  aspect-ratio: 72/59;
  height: 190px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}
.clock .date {
  position: absolute;
  left: 87px;
  top: 17px;
  height: 32px;
  width: 126px;
  margin: 0;
  font-size: 28px;
  padding-left: 8px;
  pointer-events: none;
}
.clock .time {
  position: absolute;
  left: 87px;
  top: 90px;
  height: 32px;
  width: 126px;
  margin: 0;
  font-size: 28px;
  padding-left: 8px;
  pointer-events: none;
}
.clock .gold {
  position: absolute;
  right: 20px;
  top: 151px;
  margin: 0;
  display: flex;
  justify-content: right;
}
.clock .gold span {
  white-space: nowrap;
  top: 0;
  width: 100%;
  text-align: right;
  overflow: hidden;
  white-space: wrap;
  font-size: 16px;
  font-family: "stardewValleyMono", serif;
  font-weight: 800;
  letter-spacing: -0.1px;
  font-variant-numeric: tabular-nums lining-nums;
  text-shadow: 2px 2px 1px rgba(135, 17, 15, 0.4470588235);
  color: #87110f;
  padding: 0;
  margin: 0;
}
.clock .gold span:focus,
.clock .gold span:focus {
  outline: none;
}
.clock .arrow {
  background-image: url("../images/ui/ClockArrow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 7/19;
  position: absolute;
  left: 58px;
  top: -15px;
  height: 80px;
  transform-origin: 50% 97%;
}

::-webkit-scrollbar {
  width: 0em;
  height: 2em;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  opacity: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
  opacity: 0;
}

#screen-important-alerts {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 4px 10px;
  font-weight: 500;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 5px black;
}

i {
  display: inline-block;
  width: 25px;
  height: 25px;
  image-rendering: pixelated;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.checkmark {
  background-image: url("../images/ui/checkMark.png");
  cursor: pointer;
  opacity: 0.6;
}
.checkmark:hover {
  opacity: 1;
}

.taskXbtn {
  background-image: url("../images/ui/Xbtn.png");
  cursor: pointer;
  opacity: 0.6;
}
.taskXbtn:hover {
  opacity: 1;
}

.taskSettings {
  background-image: url("../images/ui/taskSettings.png");
  cursor: pointer;
  opacity: 0.6;
}
.taskSettings:hover {
  opacity: 1;
}

.timeIcon {
  background-image: url("../images/ui/timeIcon.png");
}

.goldIcon {
  background-image: url("../images/ui/goldIcon.png");
}

.tooltip {
  z-index: 100;
  position: relative;
}

.tooltiptext {
  background-color: rgba(0, 0, 0, 0.648);
  color: #fff;
  text-align: center;
  overflow: visible;
  visibility: hidden;
  padding: 3px 4px 0px 4px !important;
  border-radius: 4px;
}

.tooltip .tooltiptext {
  position: absolute;
  margin-bottom: 4px;
  /* Position the tooltip */
  transform: translateX(-50%);
  left: 50%;
  bottom: 100%;
  font-style: normal;
  white-space: nowrap;
}

.tooltip.right .tooltiptext {
  transform: unset;
  left: unset;
  bottom: unset;
  position: absolute;
  right: 0%;
  white-space: nowrap;
  bottom: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

summary:hover h3 {
  text-decoration: underline;
}

details {
  margin-bottom: 40px;
}

details > summary {
  list-style-image: url("../images/ui/dropdownArrowRight.png");
  image-rendering: pixelated;
}
details > summary h3 {
  margin-left: 4px;
}

details[open] > summary {
  list-style-image: url("../images/ui/dropdownArrowDown.png");
}

input:disabled {
  color: black;
}

input:not(input[type=radio]),
textarea,
select {
  position: relative;
  background-color: #f9ba66;
  border: none;
  box-shadow: #f9ba66 -3px 0px, #f9ba66 3px 0px, #f9ba66 0px 3px, #f9ba66 0px -3px, #e89c3a -3px 3px, #e89c3a 3px 3px, #e89c3a 3px -3px, #e89c3a -3px -3px, #dc7b05 -3px -6px, #dc7b05 3px -6px, #5b2b2a -3px -9px, #5b2b2a 3px -9px, #965c3a -6px -6px, #965c3a -6px 3px, #965c3a -3px 6px, #965c3a 3px 6px, #5b2b2a 6px 3px, #5b2b2a 6px -6px, #a7845f 6px -9px, #a7845f 6px 6px, #a7845f -6px 6px, #a7845f -6px -9px, #cb9c67 -9px -6px, #cb9c67 -9px 6px, #cb9c67 -6px 9px, #cb9c67 3px 9px, #cb9c67 -9px 0px;
  margin: 8px 0px 10px 8px;
  font-family: "stardewValleyItem";
  font-size: 20px;
  border: 0;
  outline: none;
  min-width: 0px;
  min-height: 24px;
  padding: 0px 0px;
}

input[type=button] {
  padding: 2px 10px;
}

table {
  width: 100%;
}
table th,
table td {
  padding-bottom: 4px;
}

input[type=submit],
input[type=button],
select {
  cursor: pointer;
}

input[type=submit]:hover {
  text-decoration: underline;
}

input:hover:not(input[type=radio]),
textarea:hover,
select:hover {
  background-color: #ebab59;
  box-shadow: #ebab59 -3px 0px, #ebab59 3px 0px, #ebab59 0px 3px, #ebab59 0px -3px, #e89c3a -3px 3px, #e89c3a 3px 3px, #e89c3a 3px -3px, #e89c3a -3px -3px, #dc7b05 -3px -6px, #dc7b05 3px -6px, #5b2b2a -3px -9px, #5b2b2a 3px -9px, #965c3a -6px -6px, #965c3a -6px 3px, #965c3a -3px 6px, #965c3a 3px 6px, #5b2b2a 6px 3px, #5b2b2a 6px -6px, #a7845f 6px -9px, #a7845f 6px 6px, #a7845f -6px 6px, #a7845f -6px -9px, #cb9c67 -9px -6px, #cb9c67 -9px 6px, #cb9c67 -6px 9px, #cb9c67 3px 9px, #cb9c67 -9px 0px;
}

hr {
  border: #853605 solid 1.3px;
  width: 98%;
  margin: 10px 0;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.taskbox {
  background-color: #f5b75d;
  border: solid #905f38 3px;
  margin-bottom: 12px;
  cursor: default;
  position: relative;
  padding: 6px;
  padding-bottom: 0px;
  margin-right: 4px;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
}
.taskbox .mainTaskContent {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 10px;
  min-height: 100px;
  flex: 1;
}
.taskbox .mainTaskContent .upper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  min-height: 58px;
  gap: 4px;
}
.taskbox .mainTaskContent .upper .icon--holder {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
.taskbox .mainTaskContent .upper .icon--holder .icon {
  flex: 1;
  width: 60px;
  aspect-ratio: 1/1;
  background: linear-gradient(180deg, rgb(255, 203, 123) 0%, rgb(235, 168, 103) 100%);
  background-image: url("../images/itemicons/note.png");
  image-rendering: pixelated;
  background-color: rgba(0, 0, 0, 0.2196078431);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid #905f38 3px;
}
.taskbox .mainTaskContent .upper .details {
  flex: 1;
  color: #2c0303;
}
.taskbox .mainTaskContent .upper .details h3 {
  text-decoration: underline;
  font-family: "stardewValley";
  margin-bottom: 4px;
}
.taskbox .mainTaskContent .upper .details .description {
  margin-left: 4px;
}
.taskbox .mainTaskContent .upper .stats {
  display: flex;
  align-items: flex-start;
  justify-content: right;
  flex-direction: column;
  gap: 2px;
  flex: 0.2;
  min-width: 130px;
  text-align: left;
  margin-bottom: 10px;
}
.taskbox .mainTaskContent .upper .stats span {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1px;
}
.taskbox .mainTaskContent .upper .stats span * {
  display: inline-block;
  white-space: wrap;
}
.taskbox .mainTaskContent .upper .stats span i {
  margin-right: 5px;
}
.taskbox .mainTaskContent .lower {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 4px 0;
}
.taskbox .mainTaskContent .lower .left {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}
.taskbox .mainTaskContent .lower .left .categoryText {
  font-size: 23px;
}
.taskbox .mainTaskContent .lower .options {
  display: flex;
  justify-content: right;
  gap: 5px;
  flex-grow: 0;
}
.taskbox .mainTaskContent .lower .options i {
  width: 35px;
  height: 35px;
  position: relative;
}
.taskbox .mainTaskContent .lower .options i a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.taskbox .goldCollect {
  display: none;
  flex: 0.3;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  max-width: 90px;
  padding: 6px;
}
.taskbox .goldCollect span {
  transform: translateY(-10px);
  line-height: 14px;
  font-weight: 800;
  text-align: center;
}
.taskbox .goldCollect .uiBox {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  aspect-ratio: 1/1;
  background-image: url("../images/ui/uiSpriteContainer.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: example;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
}
.taskbox .goldCollect .uiBox .goldIcon {
  width: 100%;
  height: 100%;
  background-image: url("../images/icons/goldreward.png");
  background-size: 55%;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes example {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.settingsMenu h2 {
  margin-bottom: 17px;
}
.settingsMenu input {
  display: block;
  margin: 12px 8px 30px 12px !important;
}

/*# sourceMappingURL=styles.css.map */
