.app {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px 3vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  margin-bottom: 100px;

  h1 {
    font-size: 35px;
  }
  h2 {
    text-decoration: underline;
    font-size: 26px;
    margin-bottom: 3px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 20px;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    // height: 100%;
  }

  .wrapper {
    max-width: $app-wrapper-width;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;

    .titleBox {
      text-align: center;
      margin-left: 15px;
      overflow: visible;
      flex: 1;
      padding: 30px 13px;
      width: calc(100%);
      @include menuBorderTypeA;
      h1 {
        margin: 0;
      }
    }
    .main {
      display: flex;
      align-items: flex-start;
      margin-top: 50px;
      max-height: calc(100vh);
      padding: 0px 0px;
      gap: 70px;
      padding-bottom: 200px;
      ::-webkit-scrollbar {
        display: none;
      }
      .container {
        // height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        flex: 1;
        min-height: 500px;
        padding: 10px;
        padding-right: 0px;
        h2 {
          margin-bottom: 5px;
        }
        ::-webkit-scrollbar {
          display: block;
        }
        details {
          margin-bottom: 0px;
          summary {
            width: 100%;
            font-size: 25px;
            cursor: pointer;
            h3 {
              display: inline-block;
            }
          }
          // *:last-child:not(:nth-child(1)) {
          //   background-color: red;
          //   margin-bottom: 19px;
          // }
        }
        details[open] {
          margin-bottom: 19px;
        }
        ul {
          margin: 0px;
          padding: 0px;
        }
      }

      .menu {
        position: relative;
        margin-top: 70px;
        @include menuBorderTypeA;
        .tab-menu {
          padding-top: 30px;
          margin-top: -30px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          position: absolute;
          top: -79px;
          width: 100%;

          .tabElement.right {
            flex: 1;
            align-items: flex-end;
            justify-content: flex-end;
            text-align: right;
          }

          .tabElement:has(.tab:hover) .tabTooltip .tooltiptext {
            visibility: visible;
          }
          .tabElement {
            width: 64px;
            height: 64px;
            position: relative;
            display: flex;
            .tab {
              position: relative;
              cursor: pointer;
              image-rendering: pixelated;
              width: 64px;
              height: 64px;
              background-image: none, $tab-background-url;
              background-size: 45%, cover;
              background-position: 50% 70%, center;
              background-repeat: no-repeat;

              display: flex;
              align-items: center;
              justify-content: space-evenly;

              p,
              span {
                font-size: 22px;
                position: relative;
                top: 8px;
                margin: 0 0 0 0;
                padding: 0;

                // line-height: 5px;
              }
              .tab--icon {
                width: 100%;
                height: 100%;
                background-image: url("../images/icons/taskIcon.png");
                background-size: 40%;
                background-position: center 75%;
                background-repeat: no-repeat;
                background-position: center calc(50% + 7px);
              }
              .tab--icon--task {
                background-image: url("../images/icons/taskIcon.png");
                background-position: center 75%;
                background-size: 50%;
              }
              .tab--icon--settings {
                background-image: url("../images/icons/settingsIcon.svg");
                image-rendering: pixelated;
              }
              .tab--icon--category {
                background-image: url("../images/icons/categoryIcon.png");
                image-rendering: pixelated;
              }
              .tab--icon--edit {
                background-image: url("../images/icons/editIcon.png");
                image-rendering: pixelated;
              }
              .tab--icon--add {
                background-image: url("../images/icons/plusIcon.png");
                image-rendering: pixelated;
              }
            }
            .tab--active {
              top: 6px;
            }

            .tabTooltip {
              position: absolute;
              top: -25px;
              text-align: center;
              visibility: visible;
              text-wrap: nowrap;
              display: flex;
              align-items: flex-end;
              justify-content: center;
              width: 100%;
              max-width: 64px;
            }
          }
        }
      }

      .create-task {
        height: 100%;
        overflow: scroll scroll;
        padding-right: 8px;
        padding: 10px 13px;
        flex: 0.6;

        #editNoTaskSelected {
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          color: white;
          background-color: rgba(0, 0, 0, 0.486);
        }

        table {
          tr {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            margin-bottom: 10px;

            td {
              padding: 1px;
              display: flex;
              justify-content: left;
              width: 100%;

              input,
              textarea {
                width: 100%;
                resize: vertical;
              }
              textarea {
                max-height: 175px;
              }
            }
          }
        }

        // div {
        //   display: flex;
        //   align-items: stretch;
        //   justify-content: space-between;
        //   flex-direction: column;
        //   gap: 4px;
      }

      .starRating.selectable {
        i {
          cursor: pointer;
        }
      }

      .starRating {
        display: flex;
        flex-grow: 0;
        gap: 4px;
        align-items: center;
        justify-content: left;
        display: inline-block;
        text-wrap: nowrap;

        cursor: default;

        .starEmpty {
          background-image: url("../images/star_empty.png");
        }
        .starFull {
          background-image: url("../images/star_full.png");
        }

        i {
          width: 24px;
          height: 24px;
          position: relative;
          background-image: url("../images/star_empty.png");
          input {
            cursor: pointer;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: red !important;
            border-radius: 0;
          }
          input[type="radio"]:checked + i {
            background-color: red;
          }
        }
        i:has(> input[type="radio"]:checked) {
          background-image: url("../images/star_full.png");
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .app {
    .wrapper {
      padding: 0 50px;
      .titleBox {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: calc(100% - 200px);
        text-align: left;
        margin: 0;
        padding: 24px 20px;
        height: 125px;
      }
      .main {
        flex-direction: column;
        align-items: stretch;
      }
    }
  }
}
