.clock {
  position: fixed;
  top: 14px;
  right: 3px;
  z-index: 101;

  background-image: url("../images/clock_main.png");
  aspect-ratio: 72 / 59;
  height: 190px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;

  .date {
    // background-color: rgba(255, 0, 0, 0.476);
    position: absolute;
    left: 87px;
    top: 18px;
    height: 32px;
    width: 126px;
    margin: 0;
    font-size: 27px;
    padding-left: 8px;
    pointer-events: none;
  }
  .time {
    // background-color: rgba(255, 0, 0, 0.476);
    position: absolute;
    left: 87px;
    top: 87px;
    height: 32px;
    width: 126px;
    margin: 0;
    font-size: 31px;
    padding-left: 8px;
    pointer-events: none;
  }

  .gold {
    // background-color: rgba(255, 0, 0, 0.476);
    position: absolute;
    right: 19px;
    top: 151px;
    margin: 0;
    display: flex;
    justify-content: right;
    span {
      white-space: nowrap;
      font-size: 29px;
      font-family: "stardewvalley", monospace;
      font-weight: 800;
      letter-spacing: 3.9px;
      font-variant-numeric: tabular-nums lining-nums;
      text-shadow: 2px 2px 1px #87110f72;
      color: #87110f;
      padding: 0;
      margin: 0;
    }
    span:focus,
    span:focus {
      outline: none;
    }
  }

  .arrow {
    background-image: url("../images/ClockArrow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    aspect-ratio: 7 / 19;
    position: absolute;
    left: 58px;
    top: -15px;
    height: 80px;
    // background-color: red;
    // transform: rotate(-90deg);
    // transform: rotate((-180 + random(180)) + deg);
    transform-origin: 50% 97%;
  }
}
