@font-face {
  font-family: "stardewValleyItem";
  src: url("fonts/stardew-item-font.otf");
}
@font-face {
  font-family: "stardewValley";
  src: url("fonts/svbold.otf");
}
@font-face {
  font-family: "commodore";
  src: url("fonts/Commodore\ Pixelized\ v1.2.ttf");
}
@font-face {
  font-family: "stardewValleyMono";
  src: url("fonts/stardew-item-font-mono.otf");
}
