@mixin menuBorderTypeA() {
  // overflow-x: visible;
  // overflow-y: scroll;
  background: linear-gradient(
    180deg,
    rgba(255, 203, 123, 1) 0%,
    rgba(235, 168, 103, 1) 100%
  );

  box-shadow: #d68f54 $ui--first 0px, #c47a48 0px $ui--first,
    #c47a48 $ui--first $ui--first, #d68f54 0px $ui-first,
    #c47a48 $ui--first $ui-first, #c47a48 $ui-second $ui--first,
    #c47a48 $ui-second $ui-first, #853605 $ui--second $ui--second,
    #853605 $ui-third $ui--second, #853605 $ui-third $ui-second,
    #853605 $ui--second $ui-second, #b14e05 $ui-second $ui--third,
    #dc7b05 $ui-third $ui--third, #b14e05 $ui-four $ui--first,
    #dc7b05 $ui-four $ui--second, #b14e05 $ui-four $ui--third,
    #b14e05 $ui-four $ui-second, #fa9305 0px $ui-third,
    #fa9305 $ui-first $ui-third, #dc7b05 $ui-second $ui-third,
    #b14e05 $ui-third $ui-third, #853605 $ui-four $ui-third,
    #dc7b05 $ui--first $ui-third, #b14e05 $ui--second $ui-third,
    #dc7b05 $ui--third $ui-first, #dc7b05 $ui--third $ui--first,
    #b14e05 $ui--third $ui--second, #b14e05 $ui--second $ui--third,
    #853605 $ui--third $ui--third, #b14e05 $ui--third $ui-second,
    #853605 $ui--third $ui-third, #fa9305 $ui-third $ui--four,
    #dc7b05 $ui-four $ui--four, #dc7b05 $ui-five $ui--third,
    #dc7b05 $ui-five $ui-first, #853605 $ui-five $ui--four,
    #b14e05 $ui-five $ui-third, #b14e05 $ui-four $ui-four,
    #b14e05 $ui--third $ui-four, #853605 $ui-five $ui-four,
    #b14e05 $ui--four $ui-third, #b14e05 $ui--four $ui--third,
    #853605 $ui--four $ui-four, #fa9305 $ui-first $ui--four,
    #dc7b05 $ui--first $ui--four, #b14e05 $ui--third $ui--four,
    #853605 $ui--four $ui--four, #5b2b2a $ui--third $ui--five,
    #5b2b2a $ui-four $ui--five, #5b2b2a $ui-six $ui--third,
    #5b2b2a $ui-six $ui-third, #5b2b2a $ui-four $ui-five,
    #5b2b2a $ui--third $ui-five, #5b2b2a $ui--five $ui-third,
    #5b2b2a $ui--five $ui--third;

  h1 {
    text-decoration: underline;
    margin-bottom: 5px;
  }

  ul {
    list-style-type: none;
  }
}

@mixin menuBorderTypeB() {
  background: linear-gradient(
    180deg,
    rgba(255, 203, 123, 1) 0%,
    rgba(235, 168, 103, 1) 100%
  );
}

@mixin opacityHoverUi() {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
