$menu-background: #f8ca87;
$header-text-color: #581306;
$app-wrapper-width: 1200px;
$input-box-maxsize: 150px;
$font-size-scale: 10;
$breakpoint-mobile: 750px;
$tab-background-url: url("../images/ui_tab.png");
